@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.login {
    margin-top: 10%;
    border-radius: 5px;
    background-color:azure;
    padding-bottom: 5%;
    padding-top:5%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.577);
}

body {
    background-color: #adbed8;
}

img {
    width:50%;
	height:15%;
	object-fit: cover;
	overflow: hidden;
}

.btn-primary {
    background-color: #1522f1;
    box-shadow: 3px 3px rgba(90, 90, 90, 0.577);
}

.job-page, .post-page {
    border: 2px solid #278a5b;
    background-color: #defff3;
    border-radius: 5px;
    text-align: center;
}

.text-center > span {
    font-family: 'Jomhuria', Arial, Helvetica, sans-serif;
    font-size: 48px;
}

.post-page {
    border: 2px solid red;
}


.post-page > .container > div {
    border: 2px solid indianred;
    flex-direction: column;
}

span {
    display: block;
}

div.col-6.mt-5 {
    border: 2px solid lawngreen;
    display: flex;
    justify-content: space-around;
}

.job-info {
    display: flex;
    justify-content: center;
}

.col-6 {
    width: 100%;
}

.job-info > div:first-of-type {
    border: 2px solid red;
    width: 75%;
}